 /*****************
BODY
*****************/

* {
  box-sizing: border-box;
}

html {
  background-color: #e6e6fa;
}

body {
  /*background-color: grey;*/
    margin: 0 auto;
   padding: 0;
   font-family: "Open Sans", sans-serif; 
   max-width: 1400px;

}

.wait {
  margin-top: 150px;
  color: #ff00ff;
}

.picture {
  height: 170px;
  width: 170px;
  border-radius: 100%;
  float: right;
  margin: 20px;
 
  
}

.topDiv {
  background-color: #e0ffff;
  height: 70px;
  margin-top: 0;

}

h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 20px;
  color: green;
}

.container img {
  transition: transform .5s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 2);
}



img:hover {
transform: scale(1.1);
}

.container {  
    background-image:linear-gradient(#ffcc5e, transparent 10%),
                     url("../images/img2.jpg");
    background-repeat:  no-repeat;   
    height: calc(100vh - 110px);
    /*background-position: center;*/
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    border-bottom: 3px solid green;
    border-top: 3px solid green;
                
}


.toggle {
  display: block;
  margin: 20px auto;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  opacity: 0;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  min-width: 200px;
}

/** Toggle Menu **/
.toggle--active {
  display: block;
  opacity: 1;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.toggle-menu { margin-bottom: 25px; }

.toggle-menu li {
  width: 25%;
  display: block;
  margin: 10px auto;
  padding-right: 90px;

}
a{
	text-decoration: none;
}
span {
	position: relative;
	top: 29px;
	color: grey;

}

.toggle-menu li a {
  text-decoration: none;
  color: green;
  display: block;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid transparent;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  font-weight: 600;
  padding: 0;
}

.toggle-menu li a span { text-transform: lowercase; }

.toggle-menu li a:hover {
  color: purple;
  border-left: 2px solid green;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  font-weight: 700;
}

/*** Toggle Button ***/

.navicon {
 float: left;
  width: 100%;
  background: transparent;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  height: 30px;
  width: 50px;
  display: block;
  z-index: 99;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  font-weight: 900;
}

.navicon:before, .navicon:after {
  background: green;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
  height: 3px;
  left: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  width: 45px;
}

.navicon:before {
  box-shadow: green 0 14px 0 0;
  position: absolute;
  top: 0;

}

.navicon:after {
  position: absolute;
  top: 28px;
}

.navicon--active {
  margin-top: 20px;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

.navicon--active:before {
  box-shadow: transparent 0 0 0 0;
  top: 15px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.navicon--active:after {
  top: 15px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.footer {
  color: grey;
  font-weight: bold;
  background-color: white;
}

/**************** 
About Page 
******************/
.menu_square{
  background:rgba(255,255,255, 0.4);
  
}

#field {
  display: flex;
  height: 600px;
  flex-direction: column;
  margin: 10px;
}

.white {
  text-align: center;
  margin-top: -150px;
  margin-bottom: 50px;
}

.red {
    background-image:url("../images/Profile1.jpg");                  
    background-repeat:  no-repeat;       
    background-position: center;  
    background-size: cover;
    margin: 0 auto;
    border: 3px solid white;
    width:100%;
    flex-grow: 2;
    border-radius: 10%;
}

.bio {
  margin-top: 10px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10%;

}

.bio ul {
  
  margin-left: -20px; 
 
}

.red, .green {
  padding: 15px;
}

.contact .icon{
  color: green;

}


/******************
Light Gallery
*******************/


h3 {
  color: green;
  text-align: center;
  position: relative;
  bottom: 50px;
}

img:hover {
transform:skewY(1.5deg);

}

#lightgallery  {
 /* list-style: none;*/
  max-width: 980px;
  text-align: center;
  margin-top: -80px;
}

#lightgallery a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
   /* margin-left: 6%;*/
    width: 90%;
   
    background-color: transparent;
     border-radius: 10px;
    
}

#lightgallery img {
   width: 85%;
   height: 200px;
}




.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
} 



@media screen and (min-width: 500px) {



#lightgallery a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
   /* margin-left: 6%;*/
    width: 40%;
    height: 40%;
    background-color: transparent;
     border-radius: 10px;
    
}


}


@media screen and (min-width: 765px) {

  .container {  
     
   
    background-position: center;
  
                
}

.lightbox  {
  list-style: none;
  max-width: 980px;
  padding: 10px;
  margin: 10px auto;

  
}

#lightgallery a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
   /* margin-left: 6%;*/
    width: 30%;
    height: 30%;
    background-color: transparent;
     border-radius: 10px;
    
}

#lightgallery img {
   width: 85%;
   height: 200px;
}

#field {
  display: flex;
  height: calc(100vh - 300px);
  flex-direction: row;
}

.red {
 width:100%;
 border-top-left-radius: 2em;
 border-bottom-right-radius: 20em;
 margin: 20px; 


}

.green {
  
  width: 100%;
 
}


}

